@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/Quasimoda-Light.woff2') format('woff2'),
        url('../assets/fonts/Quasimoda-Light.woff') format('woff'),
        url('../assets/fonts/Quasimoda-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
